.topnav {
    background-color: black;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: small;
}

.CFH {
    background-color: purple;
    font-size: large;
    margin: 0px;
}

.login {
    list-style-type: none;
    color: white;
    background-color: black;
    margin: 0px;
}

